body{
  background-color: #00b4d8;
}


.todo-container{
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: #c3eef7;
  margin-left: 25%;
  margin-top: 10%;
  padding: 40px;
  border-radius: 30px;
}

.todo-input{
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.todo-btn{
  background-color: #FF00FF; 
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}
 
.todo-btn:hover{
  background-color: #7700b3;
}
